$color-white = #ffffff
$main-color = #0DA4F0
$color-yellow = #fff3c0

$color-green-btn = #05A862
$color-purple-btn = #642B8C

$color-green = #118408
$color-purple = #201B69

$color-vinous = #8D0D26

$rankings_item-table-width-large = 830px
$rankings_item-table-width = 720px
$rankings_item-table-tab-width = 560px
$rankings_item-table-mob-width = 270px

$ultraThin()
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  font-smoothing: grayscale
