h2.section__title Expert Insights

.experts
  .experts__item
    p.experts__under-title
      | RewardExpert spoke with David H. Bova, vice president and general manager of 
      a.experts__under-title-link(href="http://www.millbrookwine.com/")
        | Millbrook Vineyards & Winery, Inc. 
      | for his expert insights on the advantages and challenges of managing a vineyard.

    .experts__container
      .experts__author
        .experts__author-photo
          picture
            img.experts__author-photo-img(src='images/photo/expert_photo.png', srcset='images/photo/expert_photo@2x.png 2x')

        .experts__author-header
          h4.experts__author-title
            | David H. Bova

          p.experts__author-text
            | Vice President and General Manager of Millbrook Vineyards & Winery, Inc.

      .experts__content
        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 1. What factors influenced your decision to select your location for your winery/vineyard?

          p.expert__content-text
            | Several business and several viticultural.  1) Viticultural: the property is 130 acres of mostly hillsides.  The hillsides face west and south for maximum sun exposure and also cool air drainage in the spring and fall.  The soils are mostly gravelly loam with a little clay on the hillsides.  Very well drained soils for grape growing. We knew the Hudson River Region was one of the coldest in NY State to grow vinifera grapes so we made sure we optimize the site for our viticultural site.   2) Business: 90 miles from NYC/NJ so we had a huge metro market to attract customers to our door.  Dutchess County has a long history of agriculture and is one of the most beautiful places in the world.  The Village of Millbrook is a quaint and picturesque town with lots of NYC weekenders who live here.

        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 2. What advantages / difficulties does the local environment present you with?

          p.expert__content-text
            | The state/local governmental organizations could not be more helpful today.  It was not like this in 1983 when we started.  Today, they want tourism dollars and know wineries can be a big part of that. Our biggest challenge is our winters and getting a decent grape crop each year.  We see bud damage at 0F so severe winters like 2015 when we got down to -15F left us with 25% of a normal crop.  Hard to build a thriving business when our estate fruit is so variable.

        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 3. What challenges, if any, do you have in marketing your product?

          p.expert__content-text
            | Acceptance of NY wines in general.  People still don’t think NYS can create great wine.  We consider ourselves a regional winery producing and selling about 15,000 cases of wine.  60% is sold out our front door as we have developed quite a tourist and local following.  We have marketed ourselves for Day Trippers and provide food on weekends, Jazz on Saturdays, and have generally become very event centric.  Serving local products and the Farm to Table movement have certainly helped a great deal too.

        .experts__content-item
          p.expert__content-text.expert__content-text--question
            | 4. What do you think your location contributes to your product?

          p.expert__content-text
            | I think our location is one of our strongest marketing themes.  Dutchess County is extremely easy to get to via car (on the beautiful Taconic State Parkway) or Train from NYC, NJ.  CT and MA are close by too so we have a huge marketing area.  Even though Dutchess is a large county, the beauty of Dutchess is unparalleled.  The abundance of culture - history, arts, culinary, agriculture – is quite amazing for one county and we are very lucky that we have it all in Dutchess.
