.featured-cards
  .featured-cards__img-container
    picture
      source(srcset='images/photo/cc-image-320.png, images/photo/cc-image-320@2x.png 2x', media='(max-width: 779px)')
      source(srcset='images/photo/cc-image-768.png, images/photo/cc-image-768@2x.png 2x', media='(max-width: 1019px)')
      source(srcset='images/photo/cc-image-1024.png, images/photo/cc-image-1024@2x.png 2x', media='(max-width: 1439px)')
      source(srcset='images/photo/cc-image.png, images/photo/cc-image@2x.png 2x', media='(max-width: 1849px)')
      img.featured-cards__img(src='images/photo/cc-image.png', srcset='images/photo/cc-image@2x.png 2x')
  .featured-cards__content
    .featured-cards__header
      p.featured-cards__header-promo We Recommended
      h3.featured-cards__header-title
        | Featured Credit Cards
    .featured-cards__links
      ul.featured-cards__links-list
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') Discover it® Miles Card
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') Barclaycard Arrival Plus™ MasterCard®
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') VentureOne® Credit Card
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') Citi Prestige® Card
      ul.featured-cards__links-list
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') Citi ThankYou® Premier Card
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') Expedia® + Card
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') Discover it® - Cashback Match™
        li.featured-cards__links-list-item
          a.featured-cards__links-list-link(href='') JetBlue Plus Card