footer.page-footer
  .content
    p.footer-text © 2017 RewardExpert.com, Inc. All Rights Reserved
    .footer-menu__wrap
      a.footer-menu__link(href='/press') press
      a.footer-menu__link(href='/blog') blog
      a.footer-menu__link(href='/contacts') Contact us
      a.footer-menu__link(href='/terms') terms of use
      a.footer-menu__link(href='/policy') privacy policy
      a.footer-menu__link(href='/sitemap') site map
    .footer-soc__wrap
      a.footer-soc__link(href='https://www.facebook.com/rewardexpert', target='_blank')
        i.icon.icon-fb
      a.footer-soc__link(href='https://twitter.com/RewardExpert', target='_blank')
        i.icon.icon-twitter
      a.footer-soc__link(href='https://plus.google.com/u/0/+RewardexpertOfficial/posts', target='_blank')
        i.icon.icon-google