header.page-header
  .content
    a.logo__link(href='/')
      img.top-logo(inline='', src='images/svg/top-logo.svg', alt='')
      img.mob-logo(inline='', src='images/svg/top-logo_small.svg', alt='')
    .top-menu__wrap
      a.top-menu__link(href='/') home
      a.top-menu__link.active(href='/blog') blog
      a.top-menu__link(href='/about') about us
      a.top-menu__link(href='/contacts') contact us
    .top-sub_menu__wrap
      a.button.button-main(href='/new#sign_in') log in
      a.button.button-register(href='/new#sign_up')
        i.icon.icon-register
        | register
