.main-block
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports
    .breadcrumbs__item
      | 2018’s Top 10 Best U.S. Wine Destinations

  .main-block__text
    h1.main-block__title
      | 2018’s Top 10 Best U.S. Wine Destinations

    p.main-block__text-item
      | RewardExpert analyzed over two million wine reviews to determine the best locations in the United States for wine, both in terms of quantity and quality, and some of them may surprise you!

    p.main-block__author
      | RewardExpert

  .main-block__mask
