include ./data/states-data
include ./svg-mixins

mixin states_rank(stateData)
  .section__upper
    .section__upper-text
      h2.section__title.section__title--white.section__title--close.section__title--padding
        = stateData.title

  if stateData.info
    .rankings__info
      +info_icon
      p.rankings__info-text
        span.semibold Note: 
        = stateData.info

  .rankings__wrapper.rankings__wrapper--green
    each stateItem in stateData.states
      .rankings__item
        .rankings__item-header
          h3.rankings__item-title
            span.semibold
              = stateItem.place
            | , 
            = stateItem.state

          .rankings__item-header-zip
            +pointer_svg
            span.rankings__item-header-zip-text
              span.rankings__item-table-text.rankings__item-table-text--code Zip Code 
              span.rankings__item-table-value.rankings__item-table-value--num
                = stateItem.zip

          .rankings__item-table
            .rankings__item-table-cell.rankings__item-table-cell--first
              .rankings__item-table-text
                | Average Wine Rating:

              .rankings__item-table-value
                = stateItem.wineRating

            .rankings__item-table-cell.rankings__item-table-cell--second
              .rankings__item-table-text
                | Wineries Per 10,000 Residents:

              .rankings__item-table-value
                = stateItem.wineries

            .rankings__item-table-cell.rankings__item-table-cell--third
              .rankings__item-table-text.rankings__item-table-text--third
                +top_winery_svg
                | Top Winery:

              .rankings__item-table-value
                = stateItem.topWinery

        .rankings__item-content
          .rankings__item-num-block
            p.rankings__item-num
              = stateItem.rankNum

          .rankings__item-text-wrapper
            p.rankings__item-text
              != stateItem.text

  .map
    a(class='map__tap-to-full-size map__tap-to-full-size--#{stateData.frameID}')
      | Tap For Full Size

    .frame-wrapper
      iframe(id='#{stateData.frameID}' src='https://www.rewardexpert.com/shared/#{stateData.iframe}' width = "1130px", height = 'auto', frameborder="0", scrolling = "no")

    .map__user-block
      .map__btn-wrapper.map__btn-wrapper--share
        button.map__btn.map__btn--share
          span.map__btn-text
            | Share

          +share_svg

        .map__btn-container.map__btn-container--share
          .map__btn-socials
            a.map__btn-socials-item.map__btn-socials-item--fb(href="")
              img.socials-logo(src="images/svg/fb-share.svg")

            a.map__btn-socials-item.map__btn-socials-item--tw(href="")
              img.socials-logo(src="images/svg/tw-share.svg")

            a.map__btn-socials-item.map__btn-socials-item--go(href="")
              img.socials-logo(src="images/svg/go-share.svg")

      .map__btn-wrapper.map__btn-wrapper--embed
        button.map__btn.map__btn--embed
          span.map__btn-text
            | Embed

          +embed_svg

        .map__btn-container.map__btn-container--embed
          .map__btn-embed
            textarea.map__btn-embed-text#copyTarget(autofocus='', readonly='')
              | <iframe src="https://www.rewardexpert.com/shared/#{stateData.iframe}/" width="1130px" height="auto" frameborder="0" scrolling="no"></iframe><div style="width:100%;text-align:right;font-size:14px;color:#0a0c0d;margin-bottom:16px;">Source: <a style="color:#2093cd;" href="https://www.rewardexpert.com/blog/studies/best-u-s-counties-for-property-taxes/">RewardExpert Blog</a></div>

            button.map__btn-embed-copy#copyButton
              | copy to clipboard
