h2.section__title
  | Note on Wine Ratings

.notes
  .notes-item
    p.notes-text
      | The wine ratings in our data set range, in principle, from zero through 100. In practice, we found precisely zero reviews that rated a given bottle of wine below 70. We can only speculate as to the reasons for this phenomenon. For our purposes, we transformed wine ratings into a percentile ranking in order to facilitate a more precise calculation.

  .notes-item
    p.notes-text.notes-text--second
      | We attempted to match as many wine reviews to wineries appearing on the TTB’s Permitted Wine Producer List. However, we could only find wine reviews for wines produced by 2,377 of the total 12,168 wineries found on the list. This could be accounted for by inactive wineries, or those with small production volumes or limited distribution.
