.related-head
  h3.related-title Credit cards you may like
  img(inline='', src='images/svg/icon-wallet.svg', alt='', data-no-retina='true')
.related-list
  .col
    .related-item
      p.related-item__title
        | Best Travel Credit Cards 2017
      p.related-item__text
        | Credit Cards that offer large bonus at sign up after meeting a minimum
        | spend so you travel faster.
      a.related-item__link(href='') Starwood Preferred Guest Credit Card from American Express
      a.related-item__link(href='') Chase Ink Business Preferred Credit Card
  .col
    .related-item
      p.related-item__title
        | Best Hotel Credit Cards
      p.related-item__text
        | Credit Cards that offer large bonus at sign up after meeting a minimum
        | spend so you travel faster.
      a.related-item__link(href='') Platinum Card from American Express
      a.related-item__link(href='') Business Platinum Card from American Express
