h2.section__title
  | Great Credit Cards for Wine Lovers

.tips__upper-text
  .tips__wine-icon
    img(src="images/svg/icon_cards.svg")

  p.main-text
    | Wine is great, and your credit card should be, too. Whether you’re at a winery, dining out or just grabbing a bottle at your local grocery store, the right credit card can save you money.

  p.main-text
    | There’s no reason you shouldn’t get a little extra from your card while you’re enjoying a nice glass of wine. There are number of excellent cashback and travel rewards credit cards on the market that can do that for you. Let’s take a look at some of the best options.

.tips__items
  .tips__item
    .tips__item-title.tips__item-title--dining
      | Dining

    .tips__item-text
      | Perhaps the best time to enjoy a fantastic bottle of wine is while you’re eating a great meal. There are several cards that offer bonus points or cash back at restaurants.

    .tips__item-text
      | The 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/savor-credit-card-from-capital-one") Savor Rewards
      |  card from Capital One is designed with foodies in mind. You’ll get unlimited 3 percent cash back on dining, plus 2 percent back on groceries. Add a $150 sign-up bonus, and it’s hard to beat this no-fee card if you love food.

    .tips__item-text
      | If, however, you rarely cook at home, the 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/uber-visa-card") Uber Visa
      |  card is even better. You’ll get an impressive 4 percent cash back on dining. That includes bars, too. Add to that a 3 percent return for hotels and airfare and 2 percent for all online purchases, including Uber rides, and this is one fantastic card for a frequent traveler.

  .tips__item
    .tips__item-title.tips__item-title--entertainment
      | Entertainment

    .tips__item-text
      | If you’re looking for a bonus for winery tastings, you need to know that those purchases are frequently categorized as entertainment. That means that you should consider getting a Citi ThankYou card.

    .tips__item-text
      | All three ThankYou cards in Citi’s lineup will give you double points for both dining and entertainment purchases. Whether it’s the 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-thankyou-preferred-card")
        | ThankYou Preferred
      | , 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-thankyou-premier-card")
        | ThankYou Premier
      |  or 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-prestige-card") Prestige
      |  card, you’ll be set. Plus, you can 
      a.tips__item-text-link(href="https://www.rewardexpert.com/blog/guide-to-getting-and-using-citi-thankyou-points/")
        | use all those extra points to buy plane tickets
      |  to visit your favorite wine region.

  .tips__item
    .tips__item-title.tips__item-title--supermarkets
      | Supermarkets

    .tips__item-text
      | For those everyday wine purchases at your local grocery store, the 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/amex-everyday-preferred-credit-card") Amex EveryDay Preferred
      |  card will get you three points per dollar. Those points can be used for everything from 
      a.tips__item-text-link(href="https://www.rewardexpert.com/blog/american-express-membership-rewards-program-review/") cash back to free flights.

    .tips__item-text
      | If you’re eager to get even more from your card, the 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/chase-freedom-unlimited") Chase Freedom
      |  card often features supermarkets in its quarterly 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/chase-freedom-unlimited") rotating bonus categories
      | . That means a whopping 5 percent cash back. That’s hard to beat.

    .tips__item-text
      | It’s nice to keep things simple, though. And if you want one card that can do it all, including offering a bonus for wine purchases from anywhere, you could get a cash back card that offers a fixed rate of return for all purchases. The 
      a.tips__item-text-link(href="https://www.rewardexpert.com/credit-cards/cards/citi-double-cash-card") Citi Double Cash
      |  card is perhaps the best of these cards since you can get 2 percent cash back for everything.

    .tips__item-text
      | No matter how you prefer your wine — in a tasting room, with a great meal or on your back porch in the summer — there’s a credit card for you. Why not save a buck or two while relaxing with your favorite bottle?

