include ./svg-mixins

.upper__content
  .upper__pic
    +main_icon_svg

  .upper__text
    p.upper__text-under-title.upper__text-under-title--first
      | Wine quality is notoriously difficult to gauge, at least objectively speaking. As often as not, rankings of top wine destinations rely solely on the quantity of wine produced, or the total number of wineries found within a given region. When this is the case, we see the same places come up time and time again.

    p.upper__text
      | RewardExpert set out to do things differently. We wanted to produce a ranking that accounts for both wine production volume and, more importantly, wine quality on an objective, data-driven basis. We wanted to know what regular folks felt about wines available from American vineyards and wineries.

    p.upper__text
      | To do this, we analyzed a data set containing over two million wine reviews and ratings from CellarTracker and matched reviewed bottles of wine to specific wineries registered with and permitted by the U.S. Treasury Department Alcohol and Tobacco Trade Bureau (TTB). With this data, we could produce this ranking of the best wine producing areas of the U.S. down to the three-digit zip code level.
