-
  var top = {
    title: 'Top Ten Wine Destinations',
    info: null,
    states: [
      {
        rankNum: 1,
        place: 'Coschocton',
        state: 'Ohio',
        wineRating: '98.00',
        wineries: '1.40',
        text: 'The area surrounding Coshocton, in east-central Ohio, is home to nine wineries and vineyards and 64,206 residents, or 1.40 wineries per 10,000 residents. Coal-country Ohio might not strike one as a top wine destination, but Coshocton is home to the most highly rated winery in the U.S. in our data set, and the highest average rated wines.',

        topWinery: 'Heritage Vineyards',
        topWineryLink: 'http://www.heritagevineyardwinery.com/',
        zip: '438XX'
      },
      {
        rankNum: 2,
        place: 'Easton',
        state: 'Maryland',
        wineRating: '94.00',
        wineries: '1.31',
        text: 'Second-place Easton, on Maryland’s Eastern Shore, likewise does not grace many top wine destination lists. However, the area’s 23 wineries and vineyards to 174,919 residents rates in the 95th percentile for wineries per capita. Wines produced in the region received an average rating of 94 (out of 100), making the region one with an abundance of high-quality wines.',

        topWinery: 'Little Ashby Vineyards',
        topWineryLink: 'http://chesapeakewinecountrymd.com/wineries/19-wineries/mid-eastern-shore-wineries/74-little-ashby-vineyards',
        zip: '216XX'
      },
      {
        rankNum: 3,
        place: 'Kingston-Hudson Valley',
        state: 'New York',
        wineRating: '96.00',
        wineries: '0.73',
        text: 'While the Finger Lakes region of Upstate New York is better known—it is home to a greater number of wineries both absolutely and per capita—the Hudson Valley region, centered on Kingston, New York, produces wine that has received better ratings. With about 150,000 residents and 11 wineries and vineyards, the region is no slouch when it comes to production, ranking in the 89th percentile for wineries per capita nationally.',

        topWinery: 'Cereghinosmith',
        topWineryLink: 'http://www.cereghinosmith.com/',
        zip: '124XX'
      },
      {
        rankNum: 4,
        place: 'Riverhead-Suffolk County',
        state: 'New York',
        wineRating: '93.02',
        wineries: '3.47',
        text: 'Coming in at fourth place is the Eastern Long Island area centered on the town of Riverhead, which is coextensive with the Eastern half of Suffolk County. With an impressive 3.47 wineries per 10,000 residents, this area lands in the top 1% of all zip codes nationally for the number of wineries per capita. Wine quality, as expressed by average review ratings, is somewhat mixed, although consistently quite high, with an average rating of 93.02 across 86 wineries and vineyards.',

        topWinery: 'Baiting Hollow Farm Vineyard',
        topWineryLink: 'https://www.baitinghollowfarmvineyard.com/',
        zip: '119XX'
      },
      {
        rankNum: 5,
        place: 'Sacramento',
        state: 'California',
        wineRating: '94.20',
        wineries: '0.94',
        text: 'For a stop on the beaten trail, we find fifth-place Sacramento, California. California’s capital region is home to a total of 31 vineyards and wineries, and so it lags significantly behind fourth-place Suffolk County, NY. This is mitigated, however, by the fact that wines produced in the Sacramento area receive modestly higher ratings on average, with an average review rating of 94.20.',

        topWinery: 'Madrona Vineyards',
        topWineryLink: 'http://madronavineyards.com/',
        zip: '957XX'
      },
      {
        rankNum: 6,
        place: 'Hermiston-Columbia Valley',
        state: 'Oregon',
        wineRating: '93.20',
        wineries: '1.68',
        text: 'The Oregon side of the Columbia River Valley, centered on Hermiston makes our list at sixth place on the strength of highly rated wines and a high number of wineries and vineyards per capita. With an area population of 148,834 and 25 wineries, there are 1.68 wineries per 10,000 residents, which lands the area in the 97th percentile. Wines produced here have an average review rating of 93.20 across all wineries and vineyards, making it likely that any randomly selected bottle will be a good one.',

        topWinery: 'Cougar Crest Estate Winery',
        topWineryLink: 'http://www.cougarcrestwinery.com/',
        zip: '978XX'
      },
      {
        rankNum: 7,
        place: 'Middle Rio Grande Valley',
        state: 'New Mexico',
        wineRating: '94.25',
        wineries: '0.69',
        text: 'The area around Albuquerque, New Mexico, comes in at number seven on our list. The ranking is based more on the strength of the average ratings of wines produced in the region than on sheer numbers, as is fitting for a less than expected pick. The 14 wineries in this area (0.69 per 10,000 residents) places a respectable 86th percentile, however. Wines produced in this region were rated an average of 94.25 on a hundred point scale.',

        topWinery: 'Corrales Winery',
        topWineryLink: 'http://corraleswinery.com/',
        zip: '870XX'
      },
      {
        rankNum: 8,
        place: 'Spokane Valley',
        state: ' Washington',
        wineRating: '96.00',
        wineries: '0.53',
        text: 'Coming in at eighth place is the greater Spokane Valley region in Eastern Washington. Home to 151,000 residents and eight wineries, this area ranks at the bottom of the top quintile for the number of wineries per capita. What the Spokane Valley lacks in quantity, it makes up for in quality: it is one of four regions on our list that tied for second place for average wine review rating with a rating of 96.00.',

        topWinery: 'Trezzi Farm Food & Wine',
        topWineryLink: 'http://trezzifarm.com/',
        zip: '990XX'
      },
      {
        rankNum: 9,
        place: 'Anchorage',
        state: 'Alaska',
        wineRating: '96.00',
        wineries: '0.21',
        text: 'Our ninth place entry is certainly off the beaten track. Anchorage and its environs in southern Alaska do not come immediately to the minds of many when the word wine is mentioned! And while there are fewer vineyards and wineries here than in our higher ranked locales, Anchorage is part of a four-way tie  with New York’s Hudson Valley, Washington’s Spokane Valley, and tenth-place Texas’ greater El Paso region for second-highest rated wines.',

        topWinery: 'Bear Creek Winery',
        topWineryLink: 'http://www.bearcreekwinery.com/',
        zip: '996XX'
      },
      {
        rankNum: 10,
        place: 'Greater El Paso',
        state: 'Texas',
        wineRating: '96.00',
        wineries: '0.20',
        note: 'This region excludes the city of El Paso, and includes El Paso County and all of the Trans-Pecos region of West Texas.',
        text: 'While there are only a handful of wineries in the Trans-Pecos region of West Texas, the area is sparsely populated, leading to a respectable per capita rate. Moreover, wines produced in the region have received the second-highest average review rating in our entire data set (tied with Anchorage, Spokane, and Kingston). This makes the region a destination that is far off the beaten track, but a hot spot for high-quality wines.',

        topWinery: 'Zin Valle Vineyards',
        topWineryLink: 'http://www.zinvalle.com/zvb/',
        zip: '798XX'
      },

    ],
    iframe: '/staging/wine-map',
    frameID: 'iframe-wine',
    tableURL: null
  };
