
.icon:before
  content: ''
  display: inline-block
  background-position: 0px 0px
  background-size: 100% auto
  background-repeat no-repeat
  vertical-align middle

.icon-airplane:before
  background-image: url(images/icons/icon-airplane.svg)
  height: 16px
  width: 16px
  margin-right: 8px

.icon-author:before
  width: 21px
  height: 21px
  background-image: url(images/svg/author.svg)
  margin-right: 10px

.icon-register:before
  background-image: url(images/svg/icon-user.svg)
  height: 12px
  width: 11px
  margin-top: -3px

.icon-fb:before
  background-image: url(images/svg/icon-facebook.svg)
  height: 15px
  width: 7px

.icon-twitter:before
  background-image: url(images/svg/icon-twitter.svg)
  height: 13px
  width: 16px

.icon-google:before
  background-image: url(images/svg/iocn-google.svg)
  height: 20px
  width: 24px

.icon-next:before
  background-image: url(images/svg/icon-next.svg)
  height: 20px
  width: 20px

.icon-next_white:before
  background-image: url(images/svg/icon-next_white.svg)
  height: 20px
  width: 20px

.icon-close:before
  background-image: url(images/svg/icon-close.svg)
  height: 14px
  width: 10px

.icon-close-black:before
  background-image: url(images/svg/icon-close-black.svg)
  height: 12px
  width: 12px

.icon-zoom:before
  background-image: url(images/svg/icon-zoom.svg)
  height: 16px
  width: 16px
