rankings(primaryColor)
  .rankings__intro
    position: relative

  .rankings__item
    position: relative
    display: flex
    flex-wrap: wrap
    margin-bottom: 45px
    &:last-child
      margin-bottom: 0

    +respond-to($small)
      margin-bottom: 32px

    +respond-to($xsmall)
      display: flex
      flex-direction: column
      margin-bottom: 32px
      padding-top: 80px
      &:last-child
        margin-bottom: 0

  .rankings__item-header
    margin-left: 83px

    +respond-to($xsmall)
      margin-left: 0

  .rankings__item-title
    font-size: 24px
    line-height: 32px
    font-weight: 200
    margin-bottom: 4px
    color: primaryColor

    +respond-to($xsmall)
      text-align: center

  .rankings__item-header-zip
    margin-bottom: 12px

    +respond-to($xsmall)
      width: 270px
      text-align: center
      margin-left: auto
      margin-right: auto

  .rankings__item-table-text.rankings__item-table-text--code
    margin-right: 0

  .rankings__item-table-value.rankings__item-table-value--num
    font-size: 11px

  .rankings__pointer
    margin-right: 6px
    position: relative
    top: 2px

  .rankings__info
    @extend .info-text
    width: 1130px
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 125px
    color: $color-white
    border: 1px solid alpha($color-white, 0.4)
    background-color: alpha(#07024A, 0.6)
    font-size: 16px
    &:before
      display: none

    +respond-from($large)
      width: 1240px

    +respond-to($medium)
      width: 890px
      top: 105px

    +respond-to($small)
      width: 690px
      padding: 16px
      padding-left: 56px

    +respond-to($xsmall)
      position: static
      top: 0
      left: 0
      transform: translateX(0)
      width: 100%
      margin-top: -45px
      border-radius: 0
      margin-bottom: 45px
      padding: 24px 16px
      background-color: #DCE7FE
      border: 1px solid alpha(#4F87FA, 0.5)
      color: #0A0C0D

  .rankings__info-icon
    width: 32px
    height: 32px
    position: absolute
    top: 24px
    left: 24px

    +respond-to($small)
      width: 24px
      height: 24px
      top: 16px
      left: 16px

    +respond-to($xsmall)
      width: 32px
      height: 32px
      left: 50%
      top: -16px
      transform: translateX(-50%)

  .rankings__item-content
    display: flex
    flex-direction: row

  .rankings__wrapper
    width: 800px
    margin: 0 auto

    +respond-from($large)
      width: 1000px

    +respond-to($small)
      width: 690px

    +respond-to($xsmall)
      width: calc(100% - 24px)

  .rankings__item-num-block
    width: 67px
    margin-right: 16px

    +respond-to($xsmall)
      position: absolute
      top: 0
      left: 50%
      transform: translate(-50%)
      width: auto
      margin: 0 auto 16px auto

  .rankings__item-num
    font-size: 60px
    line-height: 64px
    font-weight: 700
    text-align: right
    color: alpha(saturate(primaryColor, 80%), 0.7)

    +respond-from($large)
      font-size: 64px
      line-height: 68px

  .rankings__item-text
    width: $rankings_item-table-width
    @extend .main-text

    +respond-from($large)
      width: $rankings_item-table-width-large

    +respond-to($small)
      width: $rankings_item-table-tab-width

    +respond-to($xsmall)
      width: 100%
      order: 3

  .rankings__item-table-text
    font-size: 10px
    line-height: 14px
    font-weight: 700
    color: #848586
    text-transform: uppercase
    margin-right: 14px

    +respond-to($xsmall)
      min-width: 100px
      max-width: 100px

  .rankings__item-table-value
    font-size: 10px
    line-height: 14px
    font-weight: 700
    text-transform: uppercase





  // tbl!

  .rankings__item-table
    width: $rankings_item-table-width
    display: flex
    flex-direction: row
    border: 1px solid alpha(primaryColor, 0.1)
    margin-bottom: 16px
    box-sizing: border-box

    +respond-to($small)
      width: $rankings_item-table-tab-width

    +respond-to($xsmall)
      width: $rankings_item-table-mob-width
      flex-direction: column
      box-sizing: content-box
      margin: 0 auto 16px auto

  .rankings__item-table-cell
    width: 50%
    height: 58px
    display: flex
    flex-direction: row
    align-items: center
    padding: 16px 24px
    border-right: 1px solid alpha(primaryColor, 0.1)
    box-sizing: border-box
    &:last-child
      border-right: none

    +respond-to($small)
      padding: 12px

    +respond-to($xsmall)
      padding: 16px 24px
      border-right: none
      border-bottom: 1px solid alpha(primaryColor, 0.1)

      &:nth-child(1)
        width: $rankings_item-table-mob-width

      &:nth-child(2)
        width: $rankings_item-table-mob-width

      &:nth-child(3)
        width: $rankings_item-table-mob-width
        border-bottom: none

  .rankings__item-table-text
    font-size: 11px
    line-height: 13px
    font-weight: 700
    color: #848586
    text-transform: uppercase
    margin-right: 14px

    // +respond-to($xsmall)
    //   width: 100px

  .rankings__item-table-wine-icon
    position: absolute
    left: 0
    transform: translateY(-50%)
    top: 50%
    width: 16px
    height: 16px
    margin-right: 8px

    +respond-to($xsmall)
      width: 10px
      height: 10px
      display: none

  .rankings__item-table-text--third
    position: relative
    padding-left: 24px

    +respond-to($xsmall)
      padding-left: 0

  .rankings__item-table-text--runner-up
    min-width: 72px

    +respond-to($small)
      min-width: 65px

    +respond-to($xsmall)
      min-width: auto

  .rankings__item-table-value
    font-size: 10px
    line-height: 14px
    font-weight: 700
    text-transform: uppercase
