userBlock(primaryColor)
  .map
    margin: 45px 45px 0 45px

    +respond-from($large)
      margin: 45px 60px 0 60px

    +respond-to($medium)
      margin: 45px 45px 0 45px

    +respond-to($small)
      margin: 45px 25px 0 25px

    +respond-to($xsmall)
      margin: 45px 12px 0 12px

  .map__tap-to-full-size
    width: 112px
    margin-left: auto
    margin-right: auto
    color: $color-purple
    font-size: 12px
    line-height: 16px
    border-bottom: 1px solid alpha($color-purple, 0.4)
    text-transform: uppercase
    font-weight: 600
    text-align:center
    transition: .25s ease-out
    cursor: pointer
    display: none
    &:hover
      border-bottom: 1px solid alpha($color-purple, 0)

    +respond-to($small)
      display: block
      position: relative
      margin-bottom: 16px

    +respond-to($xsmall)
      top: 0
      margin-bottom: 12px

  .map__user-block
    position: relative
    display: flex
    flex-direction: row-reverse
    justify-content: flex-start
    top: -160px

    +respond-from($large)
      top: -160px

    +respond-to($medium)
      justify-content: center
      top: 0
      margin-top: 24px

    +respond-to($small)
      margin-top: 24px

    +respond-to($xsmall)
      top: 0
      padding-right: 0
      margin: 24px 0
      justify-content: center

  .map__btn-icon
    position: relative
    top: 3px
    margin-left: 8px
    transition: fill .25s ease-in
    fill: primaryColor

  .map__btn-icon
    &:hover
      fill: $color-white

  .map__btn-wrapper
    position: relative
    margin-left: 32px
    &:first-child
      margin-left: 0

    +respond-to($xsmall)
      margin-left: 24px

  .map__btn-wrapper--share
    order: 2

  .map__btn
    position: relative
    width: 128px
    height: 58px
    padding: 16px
    text-align: center
    border: 1px solid alpha(primaryColor, 0.2)
    border-radius: 5px
    box-sizing: border-box
    cursor: pointer
    background-color: $color-white
    transition: .25s ease-in

    &:hover
      background-color: #D44663
      border: 1px solid #D44663

      .map__btn-text
        color: $color-white
        border-bottom: 1px solid transparent

      .map__btn-icon
        fill: $color-white

    &:active
      background: primaryColor
      border: 1px solid primaryColor

      .map__btn-text
        color: $color-white
        border-bottom: 1px solid transparent

      .map__btn-icon
        fill: $color-white

    +respond-to($xsmall)
      width: 122px
      height: 48px
      padding: 11px

  .map__btn-container--share
    position: absolute
    visibility: hidden
    top: 75px
    left: -20px

    +respond-to($xsmall)
      top: 65px

  .map__btn-socials
    position: relative
    display: flex
    padding: 24px
    border: 1px solid alpha(primaryColor, 0.2)
    border-radius: 3px
    background: $color-white
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.10)
    z-index: 1
    &:before
      content: ''
      position: absolute
      top: -8px
      left: 50%
      transform: translateX(-50%)
      width: 18px
      height: 8px
      background: url(images/svg/triangle.svg)
      background-size: cover
      border-bottom: 1px solid $color-white

  .map__btn-socials-item
    display: flex
    justify-content: center
    align-items: center
    width: 32px
    height: 32px
    border-radius: 50%
    box-sizing: border-box
    margin-right: 12px

    &:last-child
      margin-right: 0

  .map__btn-socials-item--fb
    border: 1px solid #cdd5e4

    &:hover
      background: #eaeef4

  .map__btn-socials-item--tw
    border: 1px solid #cfeaf9

    &:hover
      background: #e5f3fd

  .map__btn-socials-item--go
    border: 1px solid #fee4e2

    &:hover
      background: #feecec

  .map__btn-container--embed
    position: absolute
    visibility: hidden
    top: 75px
    right: 0

    +respond-to($xsmall)
      top: 65px

  .map__btn-embed
    position: relative
    display: flex
    flex-direction: column
    width: 400px
    padding: 24px
    background: $color-white
    border-radius: 3px
    border: 1px solid alpha(primaryColor, 0.2)
    box-shadow: 0 4px 6px 0 rgba(0,0,0,0.10)
    z-index: 1
    &:before
      content: ''
      position: absolute
      top: -8px
      right: 47px
      transform: translateX(-50%)
      width: 18px
      height: 8px
      background: url(images/svg/triangle.svg)
      background-size: cover
      border-bottom: 1px solid $color-white

    +respond-to($xsmall)
      width: 226px

  .map__btn-embed-text
    height: 64px
    overflow-y: scroll
    margin-bottom: 16px
    font-size: 12px
    line-height: 16px
    border: 1px solid alpha(primaryColor, 0.2)
    border-radius: 3px
    resize: none

  .map__btn-embed-copy
    width: 156px
    display: inline-block
    color: $color-white
    text-transform: uppercase
    font-size: 12px
    line-height: 16px
    font-weight: 600
    padding: 8px 14px 8px 14px
    outline: none
    border: none
    background-color: saturate(primaryColor, 55%)
    border-radius: 3px
    cursor: pointer
    margin: 0 auto
    &:hover
      background-color: saturate(primaryColor, 80%)
    &:active
      background-color: saturate(primaryColor, 80%)

    +respond-to($xsmall)
      font-size: 10px

  .map__btn-embed-copy.map__btn-embed-copy--light-blue
    background: #4080d7

  .map__btn-text
    font-size: 12px
    line-height: 26px
    color: primaryColor
    font-weight: 600
    border-bottom: 1px solid alpha(primaryColor, 0.2)
    text-transform: uppercase
    transition: .25s ease-in
    &:hover
      color: $color-white

    +respond-to($xsmall)
      font-size: 10px

  .map-wrapper
    overlow-x: scroll

  .map__btn-container.visible
    visibility: visible

  .frame-container
    display: block
