doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(inline='', rel='stylesheet', type='text/css', href='style.min.css')
    title Best U.S. Counties for Property Taxes

  body
    .page__wrap
      include ./partials/header.jade

      article.main-article
        .content
          include ./partials/featured-cards.jade

          include ./partials/main-block.jade

          section.section.section--upper
            include ./partials/upper.jade

          section.section.section--notes.section--short
            include ./partials/notes.jade

          include ./partials/states.jade

          section.section.section--tips.section--short
            include ./partials/tips.jade

          section.section
            include ./partials/expert-insights.jade

          section.section.section--methodology
            include ./partials/methodology.jade

          section.related
            include ./partials/related.jade

          include ./partials/pswp.jade

      include ./partials/footer.jade

    script(type='text/javascript', src='js/script.min.js')
